@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$first-color: #F7A07A;
$second-color: #D3D3D3;
$third-color: #0033A0;
$background-color: #F9F9F9;
$text-color: #333333;

$font-family: 'Montserrat', sans-serif;